files:
  "/etc/cron.d/schedule_run":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * root . /etc/profile.d/sh.local && /usr/bin/php /var/www/html/artisan schedule:run >> /dev/null 2>&1
commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true
